.Side
  .LeftHeader
    .LeftHeader__topItems
      %h3.LeftHeader__topItems__userName
        = current_user.name
      .LeftHeader__topItems__icons
        = link_to 'groups/new' do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .GroupList
    - current_user.groups.each do |group|
      .GroupList__groupBox
        = link_to group_messages_path(group) do
          .GroupList__groupBox__groupName
            = group.name
          .GroupList__groupBox__latestMessage
            まだメッセージがありません